src/InternationalCookies.Deploy-Global/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "australiaeast",
        "australiasoutheast",
        "brazilsouth",
        "centralus",
        "eastasia",
        "eastus",
        "eastus2",
        "japaneast",
        "japanwest",
        "northcentralus",
        "northeurope",
        "southcentralus",
        "southeastasia",
        "westeurope",
        "westus"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "sql_1_Connection_Name": {
      "type": "string",
      "defaultValue": "sql"
    },
    "sql_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "InternationalcookieDB"
    },
    "sql_1_server": {
      "type": "string",
      "metadata": {
        "description": "SQL server name"
      },
      "defaultValue": "internationalcookiesq2bpnesdylzbk.database.windows.net"
    },
    "sql_1_database": {
      "type": "string",
      "metadata": {
        "description": "SQL database name"
      },
      "defaultValue": "internationalcookies-db-we"
    },
    "sql_1_authType": {
      "type": "string",
      "metadata": {
        "description": "Authentication type to connect to your database"
      },
      "defaultValue": "windows",
      "allowedValues": [
        "windows",
        "basic"
      ]
    },
    "sql_1_username": {
      "type": "securestring",
      "metadata": {
        "description": "Username credential"
      }
    },
    "sql_1_password": {
      "type": "securestring",
      "metadata": {
        "description": "Password credential"
      }
    },
    "azurequeues_1_Connection_Name": {
      "type": "string",
      "defaultValue": "azurequeues"
    },
    "azurequeues_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "InternationalCookie"
    },
    "azurequeues_1_storageaccount": {
      "type": "string",
      "metadata": {
        "description": "The name of your storage account"
      },
      "defaultValue": "internationalcookie"
    },
    "azurequeues_1_sharedkey": {
      "type": "securestring",
      "metadata": {
        "description": "The shared storage key of your storage account"
      }
    },
    "office365_1_Connection_Name": {
      "type": "string",
      "defaultValue": "office365"
    },
    "office365_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "b.luijbregts@waardedoorit.nl"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Get_rows": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-westeurope.azure-apim.net/apim/sql"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['sql']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[DatabaseServers]'))}/items",
                "queries": {
                  "$filter": "Region eq '@{json(triggerBody()?['MessageText']).StoreDataRegions}'"
                }
              },
              "runAfter": {}
            },
            "For_each": {
              "type": "Foreach",
              "foreach": "@body('Get_rows')['value']",
              "actions": {
                "Insert_row": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "api": {
                        "runtimeUrl": "https://logic-apis-westeurope.azure-apim.net/apim/sql"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['sql']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[Stores]'))}/items",
                    "body": {
                      "Id": null,
                      "Name": "@{json(triggerBody()?['MessageText']).StoreName}",
                      "Country": "@{json(triggerBody()?['MessageText']).StoreCountry}",
                      "DatabaseServerId": "@item()?['Id']"
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Get_rows": [
                  "Succeeded"
                ]
              }
            },
            "For_each_2": {
              "type": "Foreach",
              "foreach": "@body('Insert_row')",
              "actions": {
                "HTTP": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "https://www.internationalcookies.eu/api/User?storeId=@{item()['Id']}",
                    "body": "@json(triggerBody()?['MessageText'])"
                  },
                  "runAfter": {}
                },
                "Condition": {
                  "type": "If",
                  "expression": "@contains(body('HTTP'), '@')",
                  "actions": {
                    "Send_an_email": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "api": {
                            "runtimeUrl": "https://logic-apis-westeurope.azure-apim.net/apim/office365"
                          },
                          "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/Mail",
                        "body": {
                          "To": "@{\njson(triggerBody()?['MessageText']).PersonEmail}",
                          "Subject": "Your new account",
                          "Body": "HI!,\nYou have just created a new account. Log in with:\n\n-username: @{body('HTTP')}\n-password: IntCookies123"
                        }
                      },
                      "runAfter": {}
                    },
                    "HTTP_2": {
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "https://www.internationalcookies.eu/api/route"
                      },
                      "runAfter": {
                        "Send_an_email": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Delete_message": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "api": {
                            "runtimeUrl": "https://logic-apis-westeurope.azure-apim.net/apim/azurequeues"
                          },
                          "connection": {
                            "name": "@parameters('$connections')['azurequeues']['connectionId']"
                          }
                        },
                        "method": "delete",
                        "path": "/@{encodeURIComponent('newstorequeue')}/messages/@{encodeURIComponent(triggerBody()?['MessageId'])}",
                        "queries": {
                          "popreceipt": "@{triggerBody()?['PopReceipt']}"
                        }
                      },
                      "runAfter": {
                        "HTTP_2": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {
                    "HTTP": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "For_each": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_there_are_messages_in_a_queue": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-westeurope.azure-apim.net/apim/azurequeues"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['azurequeues']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/@{encodeURIComponent('newstorequeue')}/message_trigger"
              },
              "recurrence": {
                "frequency": "Minute",
                "interval": 1
              },
              "splitOn": "@triggerBody()?.QueueMessagesList.QueueMessage"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sql": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
                "connectionName": "[parameters('sql_1_Connection_Name')]"
              },
              "office365": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]",
                "connectionName": "[parameters('office365_1_Connection_Name')]"
              },
              "azurequeues": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azurequeues')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azurequeues_1_Connection_Name'))]",
                "connectionName": "[parameters('azurequeues_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('azurequeues_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('sql_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]"
        },
        "displayName": "[parameters('sql_1_Connection_DisplayName')]",
        "parameterValues": {
          "server": "[parameters('sql_1_server')]",
          "database": "[parameters('sql_1_database')]",
          "authType": "[parameters('sql_1_authType')]",
          "username": "[parameters('sql_1_username')]",
          "password": "[parameters('sql_1_password')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azurequeues_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azurequeues')]"
        },
        "displayName": "[parameters('azurequeues_1_Connection_DisplayName')]",
        "parameterValues": {
          "storageaccount": "[parameters('azurequeues_1_storageaccount')]",
          "sharedkey": "[parameters('azurequeues_1_sharedkey')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"
        },
        "displayName": "[parameters('office365_1_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}